body {
    font-family: 'Quicksand', sans-serif;
}




.todoTitle__title {
    display: flex;
    justify-content: space-between;
}

.todoTitle__title span{
    color: #363636;
}

.addTask__input {
    width: 100%;
}

.todoTitle__icon {
    padding: 0 5px;
}

.todoTitle__icon--green {
    color:#27ae60;
}

.todoTitle__icon--red {
    color: #e74c3c;
}