body {
    font-family: 'Quicksand', sans-serif;
}




.todoTitle__title {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.todoTitle__title span{
    color: #363636;
    font-size: 22px;

}

.addTask__input {
    width: 100%;
}

.todoTitle__icon {
    padding: 0 5px;
}

.todoTitle__icon--green {
    color:#27ae60;
}

.todoTitle__icon--red {
    color: #e74c3c;
}

.field.is-grouped {
    margin-bottom: 0;
}

.todoTitle__checkbox {
    top: 5px;
}

.strikethrough {
    text-decoration: line-through;
    color: #95a5a6!important;
}

.input {
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    height: 30px;
}

.title.is-child {
    padding-bottom: 15px;
}



.b-checkbox.checkbox input[type=checkbox] + .check {
    background:#FFF;
}