body {
    font-family: 'Quicksand', sans-serif;
}

.hero {
    background-image: url("../img/coffee.jpg");
    background-size: cover;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height:100%;
    background: rgba(58, 83, 155, .8);
}


.welcome__container {
    background-color: rgba(255,255,255,0.98);
    padding:60px!important;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    border-radius: 5px;
}

/* helpers */
.no-margin-left {
    margin-left: 0!important;
}

.margin-top-20 {
    margin-top: 20px;
}

.message {
    background: transparent!important;
    color: #00d1b2;
}

.todoTitle__title {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.todoTitle__title span{
    color: #363636;
    font-size: 22px;

}

.addTask__input {
    width: 100%;
}

.todoTitle__icon {
    padding: 0 5px;
}

.todoTitle__icon--green {
    color:#27ae60;
}

.todoTitle__icon--red {
    color: #e74c3c;
}

.field.is-grouped {
    margin-bottom: 0;
}

.todoTitle__checkbox {
    top: 5px;
}

.strikethrough {
    text-decoration: line-through;
    color: #95a5a6!important;
}

.input {
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    height: 30px;
}

.title.is-child {
    padding-bottom: 15px;
}



.b-checkbox.checkbox input[type=checkbox] + .check {
    background:#FFF;
}



/* Add Modal */

.modal-card-head  {
    justify-content: flex-end!important;
    background-color: #167df0!important;
}

.modal-card-head-login {
    background-color: #167df0!important;
    color: #FFF!important;
}

.modal-card-title {
    color: #FFF !important;
}

.modal-card-head-register {
    background-color: #23d160!important;
}

.modal-card-foot {
    justify-content: flex-end!important;
    border: none!important;
}



footer {
    background: #fff!important;
}

footer .icon {
    margin: 20px 10px;
}